.add{
    width: 330px;
    padding-left: 4.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}
.added{
    width: 300px;
    height: 60px;
}
.a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    margin-left: 39%;
}
.ad{
    margin-left: 60%;
}
