.addressed{
    margin-top: 30%;
    width: 300px;
    height: 40px;
}
.b{
    margin-top: 5%;
    width: 300px;
    height: 40px;
}
.c{
    width: 300px;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-left: 9%;
}